body,h1,h2,h3,h4,h5,h6,ol,li,ul,input,select,textarea,dl,dd,p {
    margin:0px;
    padding:0px;
    font-weight: normal;
    font-family: 'Arial', '宋体'
}

a {
    text-decoration: none;
}

li {
    list-style: none
} 

i { 
    font-style:normal;
    font-family:consolas;
    font-size:15px
}

img,input { 
    border:none;
} 

a { 
    color:#666666;
}

a:hover { 
    color:#c81623;
}

a:hover span{ 
    color:#c81623;
}


.inner {
    width:990px;
    margin:0 auto;
}
/* .clearfix:after{content:'.';visibility: hidden;height:0;display:block;clear: both;} */
/* .clearfix{*zoom:1;} */

body {
    background: #c88ca9;
}

.start-btn {
    background:linear-gradient(#ff8502, #fe6000);
    color: #fff;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    font-family: "微软雅黑"
}

.start-btn:hover {
    background:linear-gradient(#ff9602, #fe7800);

}
/* header css */

header {
    min-width: 990px;
    background: #2e2e2e;
}

nav {
    display: flex;
    align-items: center
}

nav .logo {
    height: 38px;
    margin-left: -73px;
}

nav ul{
    display: flex;
}

nav li a{
    height: 38px;
    line-height: 38px;
    display: block;
    border-right: 1px solid #1f1f1f;
    position: relative;
    padding: 0 12px;
    font-size: 14px;
    color: #fff
}

nav li a:hover {
    color:#fff;
    background: #404040
}


nav .new{
    width: 24px;
    height:14px;
    position: absolute;
    right: 1px;
    top: 0;
    display: block
}

nav li:nth-last-child(1) {
    border: none
}


nav .addlike {
    height: 22px;
    line-height: 22px;
    padding: 0 12px;
    margin-left: 10px;
    font-size: 12px;
    background: #404040;
    color: #c9caca;
    cursor: pointer;
}

footer {
    height: 46px;
    background: #ae6387;
    border-top: 1px solid #a75a7f;
    text-align: center;
    line-height: 12px;
    color: #fff;
    padding-top: 16px
}

footer a {
    height: 10px;
    line-height: 10px;
    display: inline-block;
    padding:0 8px;
    font-size: 12px;
    color: #fff;
    border-right: 1px solid #fff;
}

footer i {
    font-size: 12px
}

footer a:hover {
    color: #fff
}